<!DOCTYPE html>

<%- include ('./partials/head.ejs') %>

<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        <div id="slider">
            <figure>
                <img src="../img/banner.jpg">
                <img src="../img/DGHelp_Banner_HP-01-1.jpg">
                <img src="../img/banner.jpg">
                <img src="../img/DGHelp_Banner_Lenovo-01-3.jpg">
                <img src="../img/banner.jpg">
            </figure>
        </div>
    </main>
    <h3 class="homeTitle">SEGÚN TU ÚLTIMA VISITA</h3>
    <section class="productosOferta">
        <div class="container">
            <% products.forEach(product => { %>
             
                <div class="card">
                    <img src="<%= product.images %> ">
                    <h4><%= product.name %> Acer TravelMate</h4>
                    <p><%= product.price %></p>
                    <!-- <a href="/products">Mas Info...</a><a href=""><i class="fas fa-cart-arrow-down"></i></a> -->
                    <a href="/products/ <%= product.id %>">Mas Info</a>
                </div>
            <% }) %>
        </div>
    </section>
    <h3 class="homeTitle">PRODUCTOS EN OFERTA</h3>
    <section class="productosOferta">
        <div class="container">
            <% products.forEach(product => { %>
             
                <div class="card">
                    <img src="<%= product.images %> ">
                    <h4><%= product.name %> Acer TravelMate</h4>
                    <p><%= product.price %></p>
                    <!-- <a href="/products">Mas Info...</a><a href=""><i class="fas fa-cart-arrow-down"></i></a> -->
                    <a href="/products/ <%= product.id %>">Mas Info</a>
                </div>
            <% }) %>
        </div>
    </section>
    <%- include ('./partials/footer.ejs') %>
</body>

</html>