<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %>

    <body>
        <%- include ('./partials/header.ejs') %>
            <main>
                

                <h1 class="homeTitle">¡Encontrá entre nuestos productos lo que necesitas!</h1>
               
                <div class="container">
                    <% products.forEach(product => { %>
                        <div class="card">
                            <img src="/img/product/<%= product.image %> ">
                            <h4><%= product.name %></h4>
                            <p><%= product.price %></p>
                            <!-- <a href="/products">Mas Info...</a><a href=""><i class="fas fa-cart-arrow-down"></i></a> -->
                            <a href="/products/<%= product.id%>"> <button class="botones"> Mas Info</button></a>
                        </div>
                    <% }) %>
                    </div>
               
<hr>
                    <%- include ('./partials/footer.ejs') %>
            </main>
    </body>

</html>