<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %>

    <body>
        <%- include ('./partials/header.ejs') %>
            <main>
                

                <h1 class="homeTitle">PRODUCTOS EN OFERTA</h1>
                <div class="container">
                    <% products.forEach(product => { %>
                     
                        <div class="card">
                            <img src="<%= product.images %> ">
                            <h4><%= product.name %> Acer TravelMate</h4>
                            <p><%= product.price %></p>
                            <!-- <a href="/products">Mas Info...</a><a href=""><i class="fas fa-cart-arrow-down"></i></a> -->
                            <a href="/products/ <%= product.id %>">Mas Info</a>
                        </div>
                    <% }) %>

                    <section id="productos">
                        <div class="contenedor">
                            <img src="../img/logo/acer.png" alt="">
                            <img src="../img/logo/asus.png" alt="">
                            <img src="../img/logo/dell.png" alt="">
                            <img src="../img/logo/hp.png" alt="">
                            <img src="../img/logo/lenovo.png" alt="">
                            <img src="../img/logo/Msi-Logo.jpg" alt="">
                        </div>
                    </section>


                    <%- include ('./partials/footer.ejs') %>
            </main>
    </body>

</html>