<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %>

    <body>
        <%- include ('./partials/header.ejs') %>
            <main>

                <h3 class="homeTitle">Detalle del producto</h3>
                <div class="contenedor-producto">
                    
                        <div class="escritorio">
                            <div class="h3">
                                <h3><%= product.productName %></h3>
                            </div>
                            <div class="producto-imgs">
                                <% product.images.forEach(element => { %>
                                    <div class="img-principal">
                                        <img src="/img/product/<%= element.url %>" alt="imagen del prod.">
                                          
                                    </div>
                                <% }) %>
                                <div class="btnEditar">
                                    <button class="botones"> <a href="/products/<%=product.id %>/edit">  Editar</a></button>
                                    <button class="botones">Eliminar</button>
                                </div> 
                            </div>
                        </div>
                        <div class="escritorio">
                            <div class="descripcion-producto">
                                <h2><%= product.name %></h2>
                                <p><%= product.description %></p>
                                <p><%= product.category_id %></p>
                                <p><%= product.price %></p>
                                <p><%= product.discount %></p>
                            </div>
                            <div class="pagos">
                                <h5>Medios de pago</h5>
                                <img src="../img/mercado-pago-banner.png" alt="">
                            </div>
                            <div class="btn-producto">
                                <button class="botones">COMPRAR <i class="fas fa-cart-plus"></i> </button>
                            </div>
                        </div>
                    </div>
            </main>
<hr>
            <%- include ('./partials/footer.ejs') %>

    </body>

</html>