<%- include ('./partials/head.ejs') %>
 <%- include ('./partials/header.ejs') %> 

<header>
    <div class="contenedor">
        <img src="../img/Logo.png" alt="">
        <input type="checkbox" id="menu-bar">
        <label class="fas fa-bars" for="menu-bar"></label>

        <nav class="menu">
            <a href="/">Inicio</a>
           
           
            <a href="/products">Productos</a>
            <a href="">Sucursales</a>
            <a href="">Contacto</a>
            <a href="">Empresa</a>

        </nav>
        <a href="/user/logout">Cerrar Sesion</a>
        <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>

         
   
</header>


<div class="containerUser" style="margin-top: 50px;">

    <nav class="user">
        <ul>
            <% if (locals.isLogged) { %>
            <li>
                <img src="/img/users/<%= locals.userLogged.imageUrl %>" width="40" style="border-radius:100%;">
               
            </li>
            
            <% } else { %>
            <li>
                <a href="/user/login">Ingresar</a>
            </li>
            <a href="/user/register">Registrarse</a>
            <% } %> 
        </ul>
    </nav>
    <div class="row">
        <div class="col-md-3">
            <h2>Hola <%= user.nombre %> </h2>
            <img src="/img/users/<%= user.imageUrl %> ">
            <br>
            <br>
            <div class="alert alert-success"><%= user.email %> </div>
        </div>
    </div>
</div>

<%- include ('./partials/footer.ejs') %>