<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %>

    <body>
        <%- include ('./partials/header.ejs') %>
            <div class="formulario-registro">
                <h3> Registrate mediante</h3>
                
                <div class="social-login-elemento">
                    <div>
                        <img src="../img/google.svg" alt="">
                        <span>Google</span>
                    </div>
                    <div>
                        <img src="../img/facebook.svg" alt="">
                        <span>Facebook</span>
                    </div>
                </div>
                <p> O </p>
                <h3>Registro Manual</h3>
                
                <div id="form-datos">

                    <form action="/user/register" method="post" class="formularioR" enctype="multipart/form-data" autocomplete="off">
                        <input
                            type="text" 
                            name="nombre" 
                            placeholder="Nombre"
                            class="errors <%= locals.errors && errors.nombre ? 'is-invalid' : '' %>"
                            value= "<%= locals.oldData ? oldData.nombre : '' %>">
                        <% if (locals.errors && errors.nombre) { %>
                        <div class="error"><%= errors.nombre.msg %> </div>
                        <% } %>
                        <input 
                            type="text" 
                            name="apellido" 
                            placeholder="Apellido:"
                            class="<%= locals.errors && errors.apellido ? 'is-invalid' : null %>"
                            value= "<%= locals.oldData ? oldData.apellido : '' %>">
                        <% if (locals.errors && errors.apellido) { %>
                            <div class="error"><%= errors.apellido.msg %> </div>
                            <% } %>
                        <input 
                        type="email" 
                        name="email" 
                        placeholder="E-mail:"
                        class="<%= locals.errors && errors.apellido ? 'is-invalid' : null %>"
                        value= "<%= locals.oldData ? oldData.email : '' %>">
                        <% if (locals.errors && errors.email) { %>
                            <div class="error"><%= errors.email.msg %> </div>
                            <% } %>
                        <input 
                        type="password" 
                        name="password" 
                        placeholder="Contaseña:">
                        <% if (locals.errors && errors.password) { %>
                            <div class="error"><%= errors.password.msg %> </div>
                            <% } %>
                        <input 
                        type="password" 
                        name="repassword" 
                        placeholder="Repertir Contaseña:">
                        <% if (locals.errors && errors.repassword) { %>
                            <div class="error"><%= errors.repassword.msg %> </div>
                            <% } %>
                        <input type="file" name="image">
                        <% if (locals.errors && errors.image) { %>
                            <div class="error"><%= errors.image.msg %> </div>
                            <% } %>
                        
                        <button type="submit" class="btn-crea">Crea tu Cuenta</button>
                    </form>

                    <!-- <button type="submit" class="btn-crea">Crea tu Cuenta</button> -->
                </div>

            </div>
            <%- include ('./partials/footer.ejs') %>
    </body>

</html>